
#welcome {
	font-size: 30px;
	text-align: center;
	padding-top: 15%;
	font-family: "Vollkorn", serif;

}
#page-define{
	padding-top: 40px;
}
#center-banner {
	font-size: 2em;
	text-align: center;
	margin-bottom: 5px;
	padding-top:10px;
	font-family: "Vollkorn", serif;
	}
#landing-info {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:10px;
	padding-right:10px;
}
#navbar-space {
	background-color: #D19D54;
}

#logo-main {
	width: auto;
	height: 200px;
	display: block;
	margin: auto;
}


.logo-background{
	background-color:black;
	position: absolute;
	margin: auto;
	width: 100%;

}
#navbar-top-flag {
	border-bottom: 20px
	border-bottom-color:#D19D54;
}
.top-nav-all{
	color:white;
}
ul.top-nav {
 list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: linear-gradient(to bottom right,#000000, #17191c);
	display: inline-block;  
	text-align: center;  
	width: 100%;
	vertical-align: top;
}
ul.top-nav li {display: inline-block;}

ul.top-nav li a {
     color: #f2f2f2;
    padding:0px 7px;
    text-decoration: none;
    font-size: 2em;
    font-family: "Goudy old style", serif;  
    }
 .social-media-icon{
    display:inline-block;
   margin:0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
}
.flag{
 	height:25px;
 	width:25px;
 	margin: 2px;
 }
 ul.bottom-nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: linear-gradient(to bottom right,#000000, #17191c);
	display: inline-block;  
	text-align: center;  
	width: 100%;
	vertical-align: top;

}
ul.bottom-nav li {
	display: inline;
}

ul.bottom-nav li a {
    color: #ffffff;
    padding:;
    text-decoration: none;
    font-size: 1.4em;
    font-family: "Vollkorn", serif;  
    }
    ul.bottom-nav:hover li {
    	background-color:; 
    }
 .navbar{
 	vertical-align: top;
 	margin-bottom: 0px;
 	background: linear-gradient(to bottom right,#000000, #17191c);
 	
 }
 .navbar-toggle{
 	background-color: #83403E;
 	
 }
 .icon-bar{
 	background-color: gold;
 }
.logo-page{
	height:325px;
	width: auto;
	background: linear-gradient(to bottom right,#000000, #17191c);
	position: relative;

}
	
.top-banner{
	width: 480px;
	height: auto;
	display: block;
	margin: auto;
	padding-top: 130px;


}
.slogin{
	color:#ffffff;
	text-align: center;
	font-family: "Vollkorn", serif;
	font-size: 24px; 
}
.bottom-banner-full{
	margin-top: 100px;
}
.location-banner{
	width: 480px;
	height: auto;
	display: block;
	margin: auto;
}
.location{
	color: #000000;
	text-align: center;
	font-family: "Vollkorn", serif;
	font-size: 24px;
}
.shine{
	height:15px;
	/*background-color: #D19D54;*/
	background: linear-gradient(to  left,#cc8102,#f7c10e,#efe094,#f7c10e,#cc8102,#f7c10e,#efe094,#cc8102);
	/*background-image:url('../images/gold-foil.png');*/
}
.shine-two{
	height:15px;
	/*background-color: #D19D54;*/
	background: linear-gradient(to left,#cc8102,#f7c10e,#efe094,#f7c10e,#cc8102,#f7c10e,#efe094,#cc8102);
	/*background-image:url('../images/gold-foil.png');*/
}

.shine-bottom{
	height:25px;
	/*background: #D19D54;*/
	background: linear-gradient(to right, #cc8102,#f7c10e,#efe094,#D19D54,#D19D54,#D19D54,#f7c10e,#efe094,#cc8102);
	/*background-image:url('../images/gold-foil.png');*/

}
.slideshow-home{
	width: auto;
	height: 600px;
	margin: auto;
	display: block;
		}
.landing-space{
	height: 200px;
	background-color: none;
		
}
.landing-space p{
	text-align:center;
	color:black;
	font-family: "Vollkorn", serif;
	font-size: 4em;
	margin-top: 20px;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 0px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color:black;
}

.dropdown {
    position: absolute;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 70px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;

}

.dropdown a:hover {background-color: }

.show {display:block;}
@media only screen and (max-width: 800px){
	ul.bottom-nav li a {
    color: #f2f2f2;
    padding:0px;
    text-decoration: none;
    font-size: 1.4em;
    font-family: "Vollkorn", serif;  
    }
    #logo-main {
	width: auto;
	height: 150px;
	display: block;
	margin: auto;}
	.logo-page{
	height:280px;
	width: auto;
	background: radial-gradient(#000000, #17191c);

}
	.top-banner{
	width: 480px;
	height: ;
	display: block;
	margin: auto;
	padding-top: 110px;
}
	.location-banner{
	width: 300px;
	height: auto;
	display: block;
	margin: auto;
	}
}
@media only screen and (max-width: 480px){
	#logo-main {
	width: auto;
	height: 150px;
	display: block;
	margin: auto;}
	.logo-page{
	height:258px;
	width: auto;
	background: radial-gradient(#000000, #17191c);

}
	.top-banner{
	width: 480px;
	height: ;
	display: block;
	margin: auto;
	padding-top: 110px;
}
	.location-banner{
	width: 300px;
	height: auto;
	display: block;
	margin: auto;
}
.shine{
	height:10px;
	background: linear-gradient(to  right,#cc8102,#f7c10e,#efe094,#cc8102);
}
.shine-two{
	height:10px;
	background: linear-gradient(to  right,#cc8102,#f7c10e,#efe094,#cc8102);
	
}

.shine-bottom{
	height:25px;
	background:linear-gradient(to  right,#cc8102,#f7c10e,#efe094,#cc8102);

}
.bottom-banner-full{
	margin-top: 70px;
}
ul.bottom-nav li a {
    color: #f2f2f2;
    padding:0px;
    text-decoration: none;
    font-size: 1em;
    font-family: "Vollkorn", serif;  
    }
    .flag{
 	height:20px;
 	width:auto;
 }
 ul.top-nav li a {
    color: #f2f2f2;
    padding: 2px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Vollkorn", serif;  
    }

    .slideshow-home{
	width: 300px;
	height:auto;
	margin: auto;
	display: block;
		}
	.landing-space{
	height: 200px;
	background-color: none;}
	.landing-space p {
	text-align:center;
	color:black;
	font-family: "Vollkorn", serif;
	font-size: 1.4em;
	margin-top: 20px;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color:black;
}

.dropdown {
    position: absolute;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 30px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;

}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
}

#coffee{
	float:;
 width:;
 clear: both;
}
#churro-heart{
	height:300px;

}

#churro-porra{
	
}
#our-pastry{
	float: ;
	width: ;
	clear: both;
}
#croissant{
	float: right;
	width: ;
	clear: both;
}#tostada{
	float: right;
	width: ;
	clear: both;
}
#crepe-helado{
	float: right;
	width: ;
	clear: both;
}
#waffle-gofre{
	
}
#brownie{
	float: right;
	width: ;
	clear: both;
}
#truffle{
	float: left;
	width: ;
	clear: both;
}
#sandwich{
	float: left;
	width: ;
	clear: both;
}
#hamburger{
	float: right;
	width: ;
	clear: both;
}
#bocadillo{
	float: left;
	width: ;
	clear: both;
}
#menu-head {
	font-size: 24px;
    font-family: "Perpetua", serif;
    text-align: center; 

}
#menu-items{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
#hours-operation{
	font-family: "Goudy old style", serif;
	font-size:25px;
	text-align:center;
}
#gluten-free{
	float: right;
	width: 100px;
	clear: both;
}
.menu-border {
	
}
.menu ul li{
	list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Vollkorn", serif;
    font-size: 20px;
    text-align: center;

}
.menu-drink{
	height: 75px;
	width:auto;
	display: block;
	margin: auto;
}
.map {
    padding-top: 4em;
}
.map iframe {
    width: 100%;
    height: 300px;
    border: 20px;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:300px;
    width:100%;
    position:relative;
    padding: 10px 10px 10px 10px;
}
.footer {
	width: 100%;
    height: 100px;   
    background:white;
    position: relative;
    bottom: 0;
}
.footer p{
	font-size: 18px;
	font-family: "Vollkorn", serif;
	text-align: center;
	color: black;
}
.footer p a{
	text-decoration: none;
	color: black;
}
.footer-logo{
	height:100px;
	width: auto;
	position: relative;
	display:block;
	margin:auto;
}
ul.social-media{
	 list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.articles li a {
	list-style-type: none;
    display: inline-block;
    color: black;
    text-align: left;
    padding: ;
    text-decoration: ;
    font-size: 1.2em;
    font-family: "Vollkorn", serif;

    }
ul.article-spain {
	list-style-type: none;
	background-color: yellow;
	border-style:solid;
	border-color: #f40000;
	border-width: 10px;
}
ul.article-korea {
	list-style-type: none;
	background-color: yellow;
	border-top-style:solid;
	border-top-color: #f40000;
	border-top-width:10px;
	
	border-bottom-style:solid;
	border-bottom-width: 10px;
	border-bottom-color: #D19D54;
}
ul.articles{
	text-align: justify;
	list-style-type: none;
	display: inline-block;
	 padding: 0!important;
    margin: 0px;
    text-decoration: none;
}
#article-title{
	text-align: center;
	font-size: 24px;
	font-family: "Vollkorn", serif;
	color:#D19D54 ;

}
.youtube{
	margin: 10px;
}

.family-intro {
	margin: 8px;
}
.history-text{
	font-size: 1.2em;
	font-family: "Vollkorn", serif;
	text-align: justify;
	padding-top: 8%;
}
.telephone li{
	text-align: center;
	font-size: 18px;
	list-style-type: none;
	text-decoration: none;
	font-family: "Goudy old style", serif;
	height:50px;
	margin: 20px;
}
.empty-space{
	height:50px;
	width: auto;
}
html,body{
	height: 100%;
}
.wrapper{
	 background:linear-gradient(to bottom, white,#b2804a,white);
}
.wrapper-top{
	min-height: 100%;
	position: relative;
}
.bottom-social-media{
	position: relative;
}
.media-space{
	padding-top: 20px;
	padding-bottom: 20px;
}
#form-title{
	font-size: 25px;
	font-family: "Vollkorn", serif;
	text-align: center;	
}
#contact-number{
	text-align: center;
	font-size: 25px;
	font-family: "Vollkorn", serif;
	margin-top: 15px;
	text-decoration: none;
}
.tablet-dark{
	align-content: center;
}
.menu-box{
	margin-top:10px;
	border: #cdcdcd medium solid;
	border-radius:;
	
}
#juan-kiss{
	display: block;
	margin: auto;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
#album-banner{
	display: block;
	margin: auto;
	max-width: 400px;
	height: auto;
}
.restaurant-box-shadow{
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
#album-box-shadow{
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.language-drop{
	position: relative;
    display: inline-block;
}
.flag-drop{
	display:;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    float:right;
}
.language-drop:hover .flag-drop{
	display:block;
}
#reservation-restaurant{
	margin-top: 100px;
}
/* Flip container */
.flip-container {
    width: 150px;
    height: 50px;
    perspective: 800px;
    color: #fff;
    position: relative; 
    overflow: hidden;   
}
.flipper {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform linear 0.6s;
}
.flipper div {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flipper .front {
    background: red;
}
.flipper div:after {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("");
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
}
.flipper .back {
    background: blue;
    transform: rotateY(180deg);
}
.flipper:hover {
    transform: rotateY(180deg);
}
/*End flip container*/